<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .button-container {
            text-align: center;
        }

        .button {
            padding: 10px 20px;
            font-size: 16px;
            margin: 5px;
            cursor: pointer;
        }

        /* Ajoutez d'autres styles si nécessaire */
    </style>
</head>
<body>

    <div class="button-container">
        <button class="button" onclick="creerDonneur()">Créer un donneur</button>
        <button class="button" onclick="consulterDonnation()">Consulter les donnations</button>
    </div>

    <script>
        function creerDonneur() {
            // Rediriger vers la page article/article
            window.location.href = "/donneur/donneur";
        }

        function consulterDonnation() {
            // Ajoutez le code de redirection vers la page de consultation des blogs
             window.location.href = "/donneur/tous";
        }
    </script>

</body>
</html>
